# Folders
Binaries
Content/InfinityBladeEffects
Content/InfinityBladeGrassLands
DerivedDataCache
Intermediate
Saved

# Files
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
